<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="{{ site.baseurl }}">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" type="image/png" sizes="32x32" href="uploads/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="uploads/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="uploads/favicon/favicon.ico">
    <link rel="stylesheet" href="assets/ubuild.css" />
    <link rel="stylesheet" href="assets/custom.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177849285-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-177849285-1');
    </script>

  </head>
  <body>