
.button.primary {
  background-color: #603474 !important;
  color: #fff !important;
}

.nav-item.active a {
  color: #832ab5 !important;
}

.block-hero-2 {
  --bg: #832ab5 !important;
}

img {
  border-radius: 20px;
}

.block-feature-1 {
  background-color: #eeedee;
}